body {
    margin: 0;
    padding: 0;
}

table {
    padding: .5rem;
    margin: 0;
    border: 1px solid #000;
}

tr {
    padding: 0;
    margin: auto;
}

td {
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
    margin: 0;
    padding: auto;
}

thead {
    background-color: #28e228;
}

tbody tr img {
    max-height: 50px;
}

.hidden {
    display: none;
}